<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autenticación Exitosa</title>
    <link rel="stylesheet" href="/public/src/assets/styles/base.css" />
    <link rel="stylesheet" href="/public/src/assets/styles/variables.css" />
    <link rel="stylesheet" href="/public/src/assets/styles/components.css" />
    <link rel="stylesheet" href="/public/src/assets/styles/auth-callback.css" />
  </head>
  <body class="auth-callback-page">
    <div id="message">
      <div class="auth-success-container">
        <h2>Autenticación Exitosa</h2>
        <p>Procesando tu información...</p>
        <div class="loader"></div>
      </div>
    </div>

    <script type="module" src="/src/views/auth-callback.js"></script>
  </body>
</html>

